<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="TRACE_APPENDER" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{ISO8601}] %5level %logger%n%message%exception%n%n" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="TRACE_APPENDER" />
  </root>
</log4net>
